<header class="header">
    <picture class="container-logo1">
        <a href="/">
            <img src="/img/generalImages/logo.png" alt="logo-nodegaming">
        </a>
    </picture>
    <div class="container-menu">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div class="search-bar">
        <form action="">
            <div>
                <input type="search" placeholder="Buscar Productos..">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </form>
    </div>
    <section class="container-access">
        <div class="user">
            <a href="/users/login">
                <i class="fa-solid fa-user"></i>
            </a>
        </div>
        <div class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="cart">
            <a href="/products/cart">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
    </section>
    <nav class="nav-bar">
        <ul class="container-list">
            <a href="/products">
                <li>productos</li>
            </a>
            <a href="#">
                <li>pc armadas</li>
            </a>
            <a href="#">
                <li>partners</li>
            </a>
            <a href="#">
                <li>contacto</li>
            </a>
            <a href="#">
                <li>ayuda</li>
            </a>
        </ul>
    </nav>
</header>