<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/generalImages/favicon.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/6e45c03872.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/generalStyles.css">

    <% if(nombre === "index") { %>
        <title>NODEGAMING | Home</title>
        <link rel="stylesheet" href="/css/index.css">
    <% } else if (nombre === "login"){ %>
        <title>NODEGAMING | Login</title>
        <link rel="stylesheet" href="/css/login.css">
    <% } else if (nombre === "productCar"){ %>
        <title>NODEGAMING | Producto</title>
        <link rel="stylesheet" href="/css/productCar.css">
    <% } else if (nombre === "productCreation"){ %>
        <title>NODEGAMING | Creación Producto</title>
        <link rel="stylesheet" href="/css/productCreation.css">
    <% } else if (nombre === "productDetail"){ %>
        <title>NODEGAMING | Detalle Producto</title>
        <link rel="stylesheet" href="/css/productDetail.css">
    <% } else if (nombre === "productEdition"){ %>
        <title>NODEGAMING | Edición Producto</title>
        <link rel="stylesheet" href="/css/productEdition.css">
    <% } else if (nombre === "register"){ %>
        <title>NODEGAMING | Registro</title>
        <link rel="stylesheet" href="/css/register.css">
    <% } %>
</head>