<header class="header">
    <picture class="container-logo1">
        <a href="/">
            <img src="/img/generalImages/logo.png" alt="logo-nodegaming">
        </a>
    </picture>
    <div class="container-menu">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div class="search-bar">
        <form action="/search" method="GET">
            <div>
                <input type="search" name="keyword" placeholder="Buscar Productos..">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </form>
    </div>
    <section class="container-access">
        <% if (locals.isLogged) { %>
        <div class="user">
                <img src="/img/users/<%= locals.userLogged.avatar %>" width="20" height="20" style="border-radius: 100%;">
                <ul>
                    <li><a href="/users/profile">mi perfil</a></li>
                    <li><a href="/users/logout">cerrar sesion</a></li>
                </ul>
        </div>
        <% } else { %>
        <div class="user">
                <i class="fa-solid fa-user"></i>
            <ul>
                <li><a href="/users/login">iniciar sesion</a></li>
                <li><a href="/users/register">registrarse</a></li>
            </ul>
        </div>
        <% } %>
        <div class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="cart">
            <a href="/products/cart">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
    </section>
    <nav class="nav-bar">
        <ul class="container-list">
            <a href="/products">
                <li>productos</li>
            </a>
            <a href="/products/category">
                <li>categorias</li>
            </a>
            <a href="#">
                <li>partners</li>
            </a>
            <a href="#">
                <li>contacto</li>
            </a>
            <a href="#">
                <li>ayuda</li>
            </a>
        </ul>
    </nav>
</header>