<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {name, title}) %>
<body class="container-main">
    <%- include('../partials/headerMain.ejs') %>
    <main class="main">
        <div class="container-carrusel">
            <ul class="container-list-carrusel">
                <li>
                    <img src="/img/index/banner-hyperx.png" alt="">
                </li>
                <li>
                    <img src="/img/index/banner-msi.png" alt="">
                </li>
                <li>
                    <img src="/img/index/banner-intel.png" alt="">
                </li>
                <li>
                    <img src="/img/index/banner-amd.png" alt="">
                </li>
            </ul>
        </div>
        <div class="publicidad">
            <picture class="container-publicidad">
                <img src="/img/index/publicidad.png" alt="">
            </picture>
        </div>
        <section class="container-partners">
            <div>
                <img src="/img/index/intel.png" alt="">
            </div>
            <div>
                <img src="/img/index/asus.png" alt="">
            </div>
            <div>
                <img src="/img/index/hyperx.jpg" alt="">
            </div>
            <div>
                <img src="/img/index/nvidia.png" alt="">
            </div>
            <div>
                <img src="/img/index/zotac.jpg" alt="">
            </div>
            <div>
                <img src="/img/index/asrock.png" alt="">
            </div>
            <div>
                <img src="/img/index/amd.png" alt="">
            </div>
            <div>
                <img src="/img/index/republic-of-gamers.jpg" alt="">
            </div>
            <div>
                <img src="/img/index/cooler-master.png" alt="">
            </div>
            <div>
                <img src="/img/index/gigabyte.png" alt="">
            </div>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>