<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {name, title}) %>
    <body class="container-main">
        <%- include('../partials/headerMain.ejs') %>
        <%- include('../partials/productsMain.ejs') %>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>