<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CarritoCompras.css">
    <script src="https://kit.fontawesome.com/2da8e91210.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="images-CarritoCompras/FAVICON(PNG).png">
    <title>Node Gaming | CARRITO DE COMPRAS</title>
</head>

<body>
    <header>
        <div class="images-CarritoCompras/logo-div">
            <img src="images-CarritoCompras/logo.png" >
        </div>
        <div class="burgermenu">
            <i class="fas fa-bars" id="burger-menu"></i>
        </div>
        <nav class="nav-bar">
            <ul> 
                <li><a href="">PRODUCTO</a></li>
                <li><a href="">PC ARMADAS</a></li>
                <li><a href="">PARTNERS</a></li>
                <li><a href="">CONTACTO</a></li>
                <li><a href="">AYUDA</a></li>
            </ul>
            
        </nav>
        <div class="container-access">
            <div>
                <i class="fa-solid fa-user"></i>
            </div>
            <div>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>

            <div>
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
    </header>


    <main>

        <div class="articulos">

           

                <div class="descripcion-producto">
                    <img src="placa.jpg" class="images-CarritoCompras/img-producto">
                    <p class="info-producto">Placa Madre</p>
                    <button class="precio-producto" type="submit">$XXXXX</button>
                </div>
          
        </div>
        <div class="articulos">

            <div class="cajarticulo">

                <div class="descripcion-producto">
                    <img src="ram.png" class="images-CarritoCompras/img-producto">
                    <p class="info-producto">RAM 32GB</p>
                    <button class="precio-producto" type="submit">$XXXXX</button>
                </div>
            </div>
        </div>
        </div>
        <div class="articulos">

            <div class="cajarticulo">

                <div class="descripcion-producto">
                    <img src="video.jpg" class="images-CarritoCompras/img-producto">
                    <p class="info-producto">Placa De Video</p>
                    <button class="precio-producto" type="submit">$XXXXX</button>
                </div>
            </div>
        </div>
        </div>
        <div class="articulos">

            <div class="cajarticulo">
               

                <div class="descripcion-producto">
                    <img src="ryzen.jpeg" class="images-CarritoCompras/img-producto">
                    <p class="info-producto">Procesador Ryzen 9</p>
                    <button class="precio-producto" type="submit">$XXXXX</button>
                    

                </div>
            </div>
        </div>
        <p class="total">TOTAL $XXXXX</p>

        <button  type="submit">COMPRAR</button>



    </main>

    <footer>
        <img src="images-CarritoCompras/amdlogo.jpg" class="banner">
        <div class="informacion">
            <p class="titular-footer">ACERCA DE NODEGAMING</p>

            <section class="titularesfooter">¿Quienes somos?</section>


            <section class="titularesfooter">Ubicación</section>


            <section class="titularesfooter">Contacto</section>
<div class="iconos-redes"> 
            <i class="fa-brands fa-facebook" id="icono-footer"></i>
            <i class="fa-brands fa-instagram" id="icono-footer"></i>
            <i class="fa-brands fa-twitter" id="icono-footer"></i>
        </div>

            <section class="copyright">Copyright © 2022 Node Gaming S.R.L.</section>

        </div>
    </footer>

</body>

</html>