<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/6e45c03872.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <title>NODEGAMING | Home</title>
</head>

<body class="container-main">
    <header class="header">
        <picture class="container-logo">
            <a href="index.html">
                <img src="/img/Home/logo.png" alt="logo-nodegaming">
            </a>
        </picture>
        <div class="container-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="search-bar">
            <form action="">
                <input type="search" name="" id="" placeholder="Buscar Productos..">
            </form>
        </div>
        <section class="container-access">
            <div class="user">
                <a href="#">
                    <i class="fa-solid fa-user"></i>
                </a>
            </div>
            <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="cart">
                <a href="#">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </div>
        </section>
        <nav class="nav-bar">
            <ul class="container-list">
                <a href="#">
                    <li>productos</li>
                </a>
                <a href="#">
                    <li>pc armadas</li>
                </a>
                <a href="#">
                    <li>partners</li>
                </a>
                <a href="#">
                    <li>contacto</li>
                </a>
                <a href="#">
                    <li>ayuda</li>
                </a>
            </ul>
        </nav>
    </header>
    <main class="main">
        <div class="container-carrusel">
            <ul class="container-list-carrusel">
                <li>
                    <img src="/img/Home/banner-amd.png" alt="">
                </li>
                <li>
                    <img src="/img/Home/banner-intel.png" alt="">
                </li>
                <li>
                    <img src="/img/Home/banner-msi.png" alt="">
                </li>
                <li>
                    <img src="/img/Home/banner-hyperx.png" alt="">
                </li>
            </ul>
        </div>
        <div class="publicidad">
            <picture class="container-publicidad">
                <img src="/img/Home/publicidad.png" alt="">
            </picture>
        </div>
        <h3>destacados</h3>
        <section class="container-destacados">
            <div class="destacados">
                <div>
                    <p>procesadores</p>
                    <a href="#">
                        <img src="/img/Home/procesadores.jpg" alt="">
                    </a>
                </div>
                <div>
                    <p>motherboards</p>
                    <a href="#">
                    <img src="/img/Home/motherboards.jpg" alt="">
                    </a>
                </div>
                <div>
                    <p>memorias</p>
                    <a href="#">
                    <img src="/img/Home/rams.jpg" alt="">
                    </a>
                </div>
                <div>
                    <p>perifericos</p>
                    <a href="#">
                    <img src="/img/Home/perifericos.jpg" alt="">
                    </a>
                </div>
                <div>
                    <p>monitores</p>
                    <a href="#">
                    <img src="/img/Home/monitores.jpg" alt="">
                    </a>
                </div>
                <div>
                    <p>gabinetes</p>
                    <a href="#">
                    <img src="/img/Home/gabinetes.jpg" alt="">
                    </a>
                </div>
            </div>
        </section>
        <section class="container-partners">
            <div>
                <img src="/img/Home/intel.png" alt="">
            </div>
            <div>
                <img src="/img/Home/asus.png" alt="">
            </div>
            <div>
                <img src="/img/Home/hyperx.jpg" alt="">
            </div>
            <div>
                <img src="/img/Home/nvidia.png" alt="">
            </div>
            <div>
                <img src="/img/Home/republic-of-gamers.jpg" alt="">
            </div>
            <div>
                <img src="/img/Home/asrock.png" alt="">
            </div>
            <div>
                <img src="/img/Home/amd.png" alt="">
            </div>
            <div>
                <img src="/img/Home/msi.jpg" alt="">
            </div>
            <div>
                <img src="/img/Home/cooler-master.png" alt="">
            </div>
            <div>
                <img src="/img/Home/gigabyte.png" alt="">
            </div>
        </section>
    </main>
    <footer class="footer">
        <section class="container-about">
            <h3>acerca de nodegaming</h3>
            <a href="#">
                <p>¿quienes somos?</p>
            </a>
            <a href="#">
                <p>ubicacion</p>
            </a>
            <a href="#">
                <p>contacto</p>
            </a>
        </section>
        <section class="redes">
            <div>
                <div class="container-social-media">
                    <div>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                    <div>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    </div>
                    <div>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="derechos">
        <p>Copyright &copy; NODEGAMING</p>
        </section>
    </footer>
</body>

</html>