<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/6e45c03872.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <title>NODEGAMING | Home</title>
</head>

<body class="container-main">
    <header class="header">
        <picture class="container-logo">
            <a href="index.html">
                <img src="/img/logo.png" alt="logo-nodegaming">
            </a>
        </picture>
        <div class="container-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
        <nav class="nav-bar">
            <ul class="container-list">
                <a href="#">
                    <li>productos</li>
                </a>
                <a href="#">
                    <li>pc armadas</li>
                </a>
                <a href="#">
                    <li>partners</li>
                </a>
                <a href="#">
                    <li>contacto</li>
                </a>
                <a href="#">
                    <li>ayuda</li>
                </a>
            </ul>
        </nav>
        <section class="container-access">
            <div>
                <a href="#">
                    <i class="fa-solid fa-user"></i>
                </a>
            </div>
            <div>
                <a href="#">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
            </div>
            <div>
                <a href="#">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </div>
        </section>
    </header>
    <main class="main">
        <div class="container-carrusel">
            <ul class="container-list-carrusel">
                <li>
                    <img src="/img/banner-amd.png" alt="">
                </li>
                <li>
                    <img src="/img/banner-intel.png" alt="">
                </li>
                <li>
                    <img src="/img/banner-msi.png" alt="">
                </li>
                <li>
                    <img src="/img/banner-hyperx.png" alt="">
                </li>
            </ul>
        </div>
        <picture class="container-publicidad">
            <img src="/img/publicidad.png" alt="">
        </picture>
        <section class="container-destacados">
            <p>destacados</p>
            <div class="destacados">
                <div>

                </div>
                <div>
                    
                </div>
                <div>
                    
                </div>
                <div>
                    
                </div>
            </div>
        </section>
        <section class="container-partners">
            <div>
                <img src="/img/intel.png" alt="">
            </div>
            <div>
                <img src="/img/asus.png" alt="">
            </div>
            <div>
                <img src="/img/hyperx.jpg" alt="">
            </div>
            <div>
                <img src="/img/nvidia.png" alt="">
            </div>
            <div>
                <img src="/img/republic-of-gamers.jpg" alt="">
            </div>
            <div>
                <img src="/img/asrock.png" alt="">
            </div>
            <div>
                <img src="/img/amd.png" alt="">
            </div>
            <div>
                <img src="/img/msi.jpg" alt="">
            </div>
            <div>
                <img src="/img/cooler-master.png" alt="">
            </div>
            <div>
                <img src="/img/gigabyte.png" alt="">
            </div>
        </section>
    </main>
    <footer class="footer">
        <section class="container-about">
            <h3>acerca de nodegaming</h3>
            <p>¿quienes somos?</p>
            <p>ubicacion</p>
            <p>contacto</p>
        </section>
        <section class="container-social-media">
            <div>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
            <div>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
            </div>
            <div>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </section>
        <p>Copyright &copy; NODEGAMING</p>
    </footer>
</body>

</html>