

   <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Login.css">
    <script src="https://kit.fontawesome.com/2da8e91210.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="images-Login/FAVICON(PNG).png">
    <title>Node Gaming | LOGIN</title>
</head>

<body>
    <header>
        <div class="images-Login/logo-div">
            <img src="images-Login/logo.png">
        </div>
        <div>
            <i class="fas fa-bars"></i>
        </div>
        <nav class="nav-bar">
            <ul class="barra">
                <li><a href="">PRODUCTO</a></li>
                <li><a href="">PC ARMADAS</a></li>
                <li><a href="">PARTNERS</a></li>
                <li><a href="">CONTACTO</a></li>
                <li><a href="">AYUDA</a></li>
            </ul>
        </nav>
        <div class="container-access">
            <div>
                <i class="fa-solid fa-user"></i>
            </div>
            <div>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>

            <div>
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
    </header>

<main>

    <p class="inicio">INICIAR SESION</p>
   
    <input placeholder="EMAIL" name="email" type="email"></input>
     
        
        <input placeholder="CONTRASEÑA" name="password" type="password"></input>
    
      <button  type="submit">INGRESAR</button>
      <a href="#">¿Olvidaste tu usuario o contraseña?</a>
      <a href="#">¿No tenes cuenta?</a>
    
<button id="registro" type="">REGISTRARSE</button>


</main>

    <footer>
        
        <div class="informacion">
            <p class="titular-footer">ACERCA DE NODEGAMING</p>

            <section class="titularesfooter">¿Quienes somos?</section>


            <section class="titularesfooter">Ubicación</section>


            <section class="titularesfooter">Contacto</section>
<div class="iconos-redes"> 
            <i class="fa-brands fa-facebook" id="icono-footer"></i>
            <i class="fa-brands fa-instagram" id="icono-footer"></i>
            <i class="fa-brands fa-twitter" id="icono-footer"></i>
        </div>

            <section class="copyright">Copyright © 2022 Node Gaming S.R.L.</section>

        </div>
    </footer>

</body>

</html>