<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/generalImages/favicon.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/6e45c03872.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/generalStyles.css">
    <title>NODEGAMING | Iniciar Sesión</title>
</head>
<body class="container-main">
    <header class="header">
        <picture class="container-logo2">
            <a href="/">
                <img src="/img/generalImages/logo.png" alt="logo-nodegaming">
            </a>
        </picture>
    </header>
    <main class="main">
        <section class="form">
            <form action="">
                <h3>iniciar sesion</h3>
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div>
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password" required>
                </div>
                <div class="ingresar">
                    <button type="submit">ingresar</button>
                </div>
                <div class="recuperar">
                    <a href="#">¿Olvidaste tu Email o Contraseña?</a>
                </div>
                <div class="crear">
                    <div>
                        <p>¿No te registraste?</p>
                    </div>
                    <div>
                        <button type="button"><a href="/register">crear cuenta</a></button>
                    </div>
                </div>
            </form>
        </section>
    </main>
    <footer class="footer">
        <section class="container-about">
            <h3>acerca de nodegaming</h3>
            <a href="#">
                <p>¿quienes somos?</p>
            </a>
            <a href="#">
                <p>ubicacion</p>
            </a>
            <a href="#">
                <p>contacto</p>
            </a>
        </section>
        <section class="redes">
            <div>
                <div class="container-social-media">
                    <div>
                        <a href="https://www.instagram.com/nodegaming_ok/" target="_blank"><i
                                class="fa-brands fa-instagram"></i></a>
                    </div>
                    <div>
                        <a href="https://www.facebook.com/profile.php?id=100081899085734" target="_blank"><i
                                class="fa-brands fa-facebook"></i></a>
                    </div>
                    <div>
                        <a href="https://twitter.com/NODEGAMING_OK" target="_blank"><i
                                class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="derechos">
            <p>Copyright &copy; NODEGAMING</p>
        </section>
    </footer>
</body>
</html>