<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/generalImages/favicon.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/6e45c03872.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/generalStyles.css">
    <link rel="stylesheet" href="/css/productCreation.css">
    <title>NODEGAMING | Creación Producto</title>
</head>
<body class="container-main">
    <header class="header">
        <picture class="container-logo1">
            <a href="/">
                <img src="/img/generalImages/logo.png" alt="logo-nodegaming">
            </a>
        </picture>
        <div class="container-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="search-bar">
            <form action="">
                <div>
                    <input type="search" placeholder="Buscar Productos..">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </form>
        </div>
        <section class="container-access">
            <div class="user">
                <a href="/login">
                    <i class="fa-solid fa-user"></i>
                </a>
            </div>
            <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="cart">
                <a href="/productCar">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </div>
        </section>
        <nav class="nav-bar">
            <ul class="container-list">
                <a href="/productDetail">
                    <li>productos</li>
                </a>
                <a href="#">
                    <li>pc armadas</li>
                </a>
                <a href="#">
                    <li>partners</li>
                </a>
                <a href="#">
                    <li>contacto</li>
                </a>
                <a href="#">
                    <li>ayuda</li>
                </a>
            </ul>
        </nav>
    </header>
    <main class="main">
        <section class="form">
            <form action="">
                <h3>Agregar producto</h3>
                <div>
                    <label for="nombreProducto">Nombre Producto</label>
                    <input type="text" name="nombreProducto" id="nombreProducto" required>
                </div>
                <div>
                    <label for="categoriaProducto">Categoria</label>
                    <select name="" id="categoriaProducto">
                        <option value="procesador">Procesador</option>
                        <option value="motherboard">Motherboard</option>
                        <option value="memoria">Memoria ram</option>
                        <option value="periferico">Periferico</option>
                        <option value="monitor">Monitor</option>
                        <option value="gabinete">Gabinete</option>
                    </select>
                </div>
                <div>
                    <label for="caracteristicasGeneral">Caracteristicas Generales</label>
                    <input type="text" name="caracteristicasGeneral" id="caracteristicasGeneral" required>
                </div>
                <div>
                    <label for="imagenProducto">Imagen Producto</label>
                    <input type="file" name="imagenProducto" id="imagenProducto" accet=".jpg, .png" required>
                </div>
                <div>
                    <label for="idProducto">ID Producto</label>
                    <input type="number" name="idProducto" id="idProducto" required>
                </div>
                <div>
                    <label for="precio">Precio</label>
                    <input type="number" name="precio" id="precio" required>
                </div>
                <div>
                    <label for="cantidadStock">Cantidad de Stock</label>
                    <input type="number" name="cantidadStock" id="cantidadStock" required>
                </div>
                <div class="login">
                    <div>
                        <button type="button"><a href="/login">borrar datos</a></button>
                    </div>
                    <div>
                        <button type="button"><a href="/login">agregar</a></button>
                    </div>
                </div>
            </form>
        </section>
    </main>
    <footer class="footer">
        <section class="container-about">
            <h3>acerca de nodegaming</h3>
            <a href="#">
                <p>¿quienes somos?</p>
            </a>
            <a href="#">
                <p>ubicacion</p>
            </a>
            <a href="#">
                <p>contacto</p>
            </a>
        </section>
        <section class="redes">
            <div>
                <div class="container-social-media">
                    <div>
                        <a href="https://www.instagram.com/nodegaming_ok/" target="_blank"><i
                                class="fa-brands fa-instagram"></i></a>
                    </div>
                    <div>
                        <a href="https://www.facebook.com/profile.php?id=100081899085734" target="_blank"><i
                                class="fa-brands fa-facebook"></i></a>
                    </div>
                    <div>
                        <a href="https://twitter.com/NODEGAMING_OK" target="_blank"><i
                                class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="derechos">
            <p>Copyright &copy; NODEGAMING</p>
        </section>
    </footer>
</body>
</html>