<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/813ca1071b.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=PT+Sans&family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/productDetail.css">
    <title>NODEGAMING | Producto</title>
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo"> 
                <a href="/"><img src="./images/LOGO.png" alt="logo"></a>
            </div>
            <div class="burguer-menu">
                <a href="#"><i class="fa-solid fa-bars"></i></a>
            </div>
        </div>
        <div class="bot-header">
            <nav class="nav-bar">
                <ul>
                    <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                    </li>
                    <li><a href="/login"><i class="fa-solid fa-user"></i></a>
                    </li>
                    <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section>
            <div class="img-principal">
                <img src="./images/video-geforce-rtx-2060-6gb-msi-ventus-gp-oc-0.jpg" alt="VIDEO GEFORCE RTX 2060 con caja detras">
            </div>
            <div class="img-secundarias">
                <img src="./images/video-geforce-rtx-2060-6gb-msi-ventus-gp-oc-1.jpg" alt="VIDEO GEFORCE RTX 2060 parte trasera">
                <img src="./images/video-geforce-rtx-2060-6gb-msi-ventus-gp-oc-2.jpg" alt="VIDEO GEFORCE RTX 2060 conectores">
            </div>
            <div class="nombre-porducto">
                <h1>VIDEO GEFORCE RTX 2060 6GB MSI VENTUS GP OC</h1>
            </div>
            <div class="stock-producto">
                <h2 class="precio">$99.999</h2>
                <h4 class="cuotas">¡12 cuotas sin interés!</h4>
                <p>cantidad: - 1 +</p>
                <h5>En stock</h5>
                <button type="submit">Agregar</button>
            </div>
            <div class="descripcion">
                <h4>Descripción:</h4>
                <div>
                    <p><span>Núcleos:</span>1920 Unidades</p>
                    <p><span>Memoria:</span>6GB GDDR6</p>
                    Motor de gráficos NVIDIA® GeForce RTX™ 2060</p>
                    Norma Bus PCI Express x16 3.0</p>
                    Interfaz de Memoria 192 bits</p>
                    Velocidad clock núcleo (MHz) Boost: 1710 MHz
                    Velocidad clock memoria (MHz) 14 Gbps
                    Máximo de pantallas 4
                    Tecnología G-SYNC™ Sí
                    Adaptive Vertical Sync Sí
                    Tecnología Multi-GPU NVIDIA® NVLINK™ (SLI-Ready), 2 vías
                    Soporte HDCP 2.2
                    Consumo (W) 160 W
                    Salida DisplayPort x 3 (v1.4) / HDMI 2.0b x 1
                    Alimentación recomendada (W) 500W
                    Virtual Reality Ready Y
                    Resolución máxima digital 7680x4320
                    Conectores de alimentación 8 pines x 1
                    Soporte DirectX Versión 12 API
                    Soporte OpenGL Versión 4.5
                    Dimensiones (mm) 226 x 128 x 41 mm
                    Peso 764 g / 1193 g
                </div>
            </div>
            <div class="partners">
                <img src="#" alt="partners">
            </div>
        </section>
    </main>
    <footer>
        <div class="info node">
            <h3>ACERCA DE NODEGAMING</h3>
        </div>
        <div class="links">
            <a href="#">¿Quienes somos?</a>
            <a href="#">Contacto</a>
            <a href="#">Ubicacion</a>
        </div>
        <div class="redes">
            <a href="#"><i class="fa-brands fa-facebook-square"></i></a>
            <a href="#"><i class="fa-brands fa-instagram-square"></i></a>
            <a href="#"><i class="fa-brands fa-youtube-square"></i></a>
        </div>
    </footer>
</body>
</html>