<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/generalImages/favicon.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/6e45c03872.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/productCar.css">
    <link rel="stylesheet" href="/css/generalStyles.css">
    <title>NODEGAMING | Carrito</title>
</head>
<body class="container-main">
    <header class="header">
        <picture class="container-logo1">
            <a href="/">
                <img src="/img/generalImages/logo.png" alt="logo-nodegaming">
            </a>
        </picture>
        <div class="container-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="search-bar">
            <form action="">
                <div>
                    <input type="search" placeholder="Buscar Productos..">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </form>
        </div>
        <section class="container-access">
            <div class="user">
                <a href="/login">
                    <i class="fa-solid fa-user"></i>
                </a>
            </div>
            <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="cart">
                <a href="/productCar">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </div>
        </section>
        <nav class="nav-bar">
            <ul class="container-list">
                <a href="/productDetail">
                    <li>productos</li>
                </a>
                <a href="#">
                    <li>pc armadas</li>
                </a>
                <a href="#">
                    <li>partners</li>
                </a>
                <a href="#">
                    <li>contacto</li>
                </a>
                <a href="#">
                    <li>ayuda</li>
                </a>
            </ul>
        </nav>
    </header>
    <main class="main">
        <section class="container-products">
            <article class="product">
                <div class="image">
                    <img src="/img/productCar/procesador.jpg" alt="">
                </div>
                <div class="name">
                    <p>Procesador Intel Core i9 12900K 5.2GHz Turbo Socket 1700</p>
                </div>
                <div class="subtotal">
                    <div class="cantidad">
                        <button type="button">-</button>
                        <p>1</p>
                        <button type="button">+</button>
                    </div>
                    <div class="precio">
                        <p>$ 100.500</p>
                    </div>
                    <div class="delete">
                        <i class="fa-solid fa-trash-can" title="Eliminar"></i>
                    </div>
                </div>
            </article>
            <article class="product">
                <div class="image">
                    <img src="/img/productCar/motherboard.jpg" alt="">
                </div>
                <div class="name">
                    <p>Mother ASUS ROG MAXIMUS Z690 EXTREME GLACIAL</p>
                </div>
                <div class="subtotal">
                    <div class="cantidad">
                        <button type="button">-</button>
                        <p>1</p>
                        <button type="button">+</button>
                    </div>
                    <div class="precio">
                        <p>$ 290.000</p>
                    </div>
                    <div class="delete">
                        <i class="fa-solid fa-trash-can" title="Eliminar"></i>
                    </div>
                </div>
            </article>
            <article class="product">
                <div class="image">
                    <img src="/img/productCar/ram.jpg" alt="">
                </div>
                <div class="name">
                    <p>Memoria Patriot Viper DDR4 32GB 3000Mhz Steel</p>
                </div>
                <div class="subtotal">
                    <div class="cantidad">
                        <button type="button">-</button>
                        <p>1</p>
                        <button type="button">+</button>
                    </div>
                    <div class="precio">
                        <p>$ 20.500</p>
                    </div>
                    <div class="delete">
                        <i class="fa-solid fa-trash-can" title="Eliminar"></i>
                    </div>
                </div>
            </article>
            <article class="product">
                <div class="image">
                    <img src="/img/productCar/auricular.jpg" alt="">
                </div>
                <div class="name">
                    <p>Auriculares HP HyperX Cloud Flight Wireless Black-Red</p>
                </div>
                <div class="subtotal">
                    <div class="cantidad">
                        <button type="button">-</button>
                        <p>1</p>
                        <button type="button">+</button>
                    </div>
                    <div class="precio">
                        <p>$ 15.000</p>
                    </div>
                    <div class="delete">
                        <i class="fa-solid fa-trash-can" title="Eliminar"></i>
                    </div>
                </div>
            </article>
            <article class="product">
                <div class="image">
                    <img src="/img/productCar/monitor.jpg" alt="">
                </div>
                <div class="name">
                    <p>Monitor Gamer Gigabyte 27" G27Q-SA 144Hz 1Ms IPS 2K</p>
                </div>
                <div class="subtotal">
                    <div class="cantidad">
                        <button type="button">-</button>
                        <p>1</p>
                        <button type="button">+</button>
                    </div>
                    <div class="precio">
                        <p>$ 85.000</p>
                    </div>
                    <div class="delete">
                        <i class="fa-solid fa-trash-can" title="Eliminar"></i>
                    </div>
                </div>
            </article>
            <article class="product">
                <div class="image">
                    <img src="/img/productCar/gabinete.jpg" alt="">
                </div>
                <div class="name">
                    <p>Gabinete Cooler Master Mastercase H500P ARGB</p>
                </div>
                <div class="subtotal">
                    <div class="cantidad">
                        <button type="button">-</button>
                        <p>1</p>
                        <button type="button">+</button>
                    </div>
                    <div class="precio">
                        <p>$ 30.000</p>
                    </div>
                    <div class="delete">
                        <i class="fa-solid fa-trash-can" title="Eliminar"></i>
                    </div>
                </div>
            </article>
            <div class="container-total">
                <p class="total">total</p>
                <p class="cifra-total">$ 541.000</p>
                <div class="container-comprar">
                    <button type="submit">comprar</button>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <section class="container-about">
            <h3>acerca de nodegaming</h3>
            <a href="#">
                <p>¿quienes somos?</p>
            </a>
            <a href="#">
                <p>ubicacion</p>
            </a>
            <a href="#">
                <p>contacto</p>
            </a>
        </section>
        <section class="redes">
            <div>
                <div class="container-social-media">
                    <div>
                        <a href="https://www.instagram.com/nodegaming_ok/" target="_blank"><i
                                class="fa-brands fa-instagram"></i></a>
                    </div>
                    <div>
                        <a href="https://www.facebook.com/profile.php?id=100081899085734" target="_blank"><i
                                class="fa-brands fa-facebook"></i></a>
                    </div>
                    <div>
                        <a href="https://twitter.com/NODEGAMING_OK" target="_blank"><i
                                class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="derechos">
            <p>Copyright &copy; NODEGAMING</p>
        </section>
    </footer>
</body>
</html>