/* ESTILOS PRODUCT DETAIL */

.container-general {
    width: 95%;
    margin: auto;
}
.container-images {
    width: 100%;
    margin: 10px 0;
    text-align: center;
}
.container-images .imagenes-principales {
    height: 160px;
    overflow: hidden;
    text-align: center;
}
.container-images .imagenes-principales div {
    height: inherit;
}
.container-images .imagenes-principales div img {
    width: 50%;
}
.container-images .imagen-principal {
    text-align: center;
}
.imagenes-secundarias {
    width: 100%;
    margin: 10px 0;
    display: flex;
}
.imagenes-secundarias div img {
    width: 40%;
    opacity: 0.5;
}
.container-info {
    width: 100%;
    margin: 10px 0;
}
.container-info .stock {
    width: 15%;
    margin: 5px 0;
    padding: 1px;
    font-size: 0.5em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 4px;
}
.sin_stock{
    width: 15%;
    margin: 5px 0;
    padding: 1px;
    font-size: 0.5em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #cd1a1a;
    border-radius: 4px;
}
.container-info p {
    margin: 5px 0;
    text-transform: uppercase;
}
.container-info .precio {
    text-align: center;
    font-size: 1.3em;
    
}
.container-info .agregar {
    margin: auto;
    width: 30%;
}
.container-info .agregar button {
    text-transform: uppercase;
    background-color: #000000;
    color: rgb(195, 149, 15, 0.7);
    border: 1px solid #000000;
    border-radius: 10px;
}
.container-info .agregar button:hover {
    cursor: pointer;
    background-color: rgb(195, 149, 15, 0.7);
    color: #000000;
    font-weight: bold;
    box-shadow: 0px 0px 10px #000000;
}
.container-caracteristicas {
    width: 100%;
    margin: 25px 0;
}
.container-caracteristicas h3 {
    margin-bottom: 10px;
    padding: 10px 0;
    font-size: 1em;
    text-align: center;
    border-bottom: 1px solid rgb(195, 149, 15, 0.7);
    text-transform: uppercase;
}
.separador {
    width: 100%;
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
}
.separador .sector1 p {
    color: rgb(195, 149, 15, 0.7);
}
.separador .sector2 {
    text-align: right;
}
.productEdit a {
    text-decoration: none;
    color: rgb(195, 149, 15, 0.7);
}
.productEdit:hover a {
    color: #000000;
}
.precio_descuento{
    display: flex;
    margin-top: 0px;
}
.discount{
    color: green;
    padding-left: 6px;
    font-size: 0.8em;
    font-weight: bold;
}
.precio_real{
text-decoration:line-through ;
}

/* MEDIA QUERIES */
@media (min-width: 769px) {
    .contenido {
        display: flex;
    }
    .container-separador {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .separador {
        width: 49%;
    }
}
@media (min-width:1200px) {
    .container-images .imagenes-principales {
        height: 300px;
    }
    .container-info .stock {
        width: 10%;
        font-size: 0.5em;
    }
}