* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
   
  
}

/*BODY*/

body {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    font-family:  'Roboto', sans-serif;
    
}
p{
    background-color: black;
    font-size: 12px;
}


/*HEADER*/
header{
    width: 100%;
    background-color: black;
    
}
.logo-div{
    
margin-top: 15px;
    align-items: center;
    justify-content: center;
    
    
    flex-direction: row;
    display: flex;
}


.nav-bar{
    display: none;


}
.container-access{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
    
}
.container-access div i{
    color: white;

}
  

/*MAIN*/

.inicio{
    background-color: white;
    font-size: 20px;
    font-weight: bold;
}

main{
    align-items: center;
    justify-content: center;
    
    
    width: 100%;
    flex-direction: column;
    display: flex;
}

input{
    background-color: rgb(225, 221, 221);
    color: black;
    
}
button{
    color: goldenrod;
    background-color: black;
    padding: 5px;
}
a{
    font-weight: bold;
}
#registro{
    margin-bottom: 60px;
}



 /*FOOTER*/

footer{
    width: 100%;
}

.iconos-redes{
    

    align-items: center;
    justify-content: center;
    
    
    
    display: flex;


}
.informacion{
    background-color: black;
    text-align: center;
  font-size: 20px;
}
.titular-footer{
    text-align: center;
    color: goldenrod;
    font-weight: bold;
    font-size: 40px;
  
   

}
.titularesfooter{
    text-align: center;
    background-color: black;
    color: white;
    margin-bottom: 20px;
    
 
}

.copyright{
    text-align: center;
    margin-top: 15px;
    color: goldenrod;
}
#icono-footer{
  
    color: goldenrod;
    background-color: black;
    margin-top: 15px;
    padding: 20px;
    font-size: 2em;
   
   
}






@media (min-width: 769px){
    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .barra{
        display: none;
    }
}

/*@media (min-width: 1200px){
   .barra{
       display: flex;
       flex-direction: row;
      
      
   }

   #burgermenu{
       display: none;
   }
 
   }*/