/* ESTILOS LOGIN */
.form form {
    margin-bottom: 124px;
}
.recuperar {
    text-align: center;
}
.recuperar a {
    text-decoration: none;
    color: #000000;
}
.recuperar a:hover {
    color: #C3950F;
}