
/*MAIN*/
main {   
    width: 100%;
    display: flex;
    flex-direction: column;
    
    
    }
    .nav-bar{
        
        color: white;
        flex-direction: row;
        margin-bottom: 15px;
        font-size: 20px;
    }
    .barra{
        display: flex;
        flex-direction: row;
        color: white;
        justify-content: space-between;
        text-decoration: none;
        padding: 15px;
        list-style:none;
    }
    .link-barra{
        text-decoration: none;
        color: white;
    
    }
    
    
    .articulos{
        width: 100%;
        margin: 10px;  
      
        background-color: #ebebeb;
       padding: 15px;
     border: 1px solid black;
       display: flex;
       flex-direction: column;
       align-items: center;
    
    }
    
    .descripcion-producto {
        margin: 0 100px;
        border: solid 1px #ebebeb;
        width: 100%;
        background-color: white;
       color: white;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-between;
       
       
    }
    .precios {
        font-size: 18px;
    
    }
    .descuentos {
        font-size: 16px;
           
    }
    .descripciones {
        font-size: 16px;
    }
    
    .img-producto {
        padding: 10px;
        height: 100px;
      }
      #trash-icon{
          display: flex;
          flex-direction: column;
         justify-content: flex-end;
        color: black;
        font-size: 1.7em;
        padding: 15px;
      }
    .info-producto{
        font-size: 15px;
        font-weight: bold;
        background-color: white;
        color: black;
        padding: 10px;
       
        
    }
    .info-cantidad{
        font-size: 15px;
        font-weight: bold;
        background-color: white;
        color: black;
        padding: 10px;
        border: solid 1px black;
    
    }
    .precio-producto{
        background-color: white;
        font-size: 25px;
        color: black;
        border: black;
        display: flex;
        flex-direction: row;
        
        padding: 10px;
    
        
    
    }
      button{
          background-color: goldenrod;
          font-size: 25px;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
         font-weight: bold;
          margin-bottom: 15px;
          padding: 5px;
       
      }
      .total{
          font-size: 25px;
          font-weight: bold;
          background-color: white;
          color: black;
          display: flex;
      }
      .resumen-compra{
          display: flex;
        margin-top: 20px;
          flex-direction: row;
          justify-content: space-between;
          text-align: center;
         
      }
    
      
    
    @media (min-width: 361px){
        main section article .description{
            display: block;
        }
    
        main section article{
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
        }
       
    }
    
    @media (min-width: 769px){
       
    
       .articulos{
       
       display: flex;
       flex-direction: row;
       justify-content: space-between;
     
    
    }
    
    .descripcion-producto {
       
       display: flex;
       flex-direction: row;
       align-items: row;
       justify-content: space-between;
       
       
       
    }
     
       
    }
    
    
    
    
    

    