/* ESTILOS PROFILE */

.container-profile {
    width: 90%;
    margin: 50px auto;
    text-align: center;
}
.container-profile picture {
    width: 100%;
}
.container-profile picture img {
    border-radius: 100%;
    margin-bottom: 20px;
}
.container-info-user {
    width: 95%;
    margin: 0 auto;
}
.container-info-user h2 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.container-info-user .user-info {
    margin: 10px 0;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
}
.container-info-user .user-info div {
    width: 50%;
    text-align: left;
    padding-left: 10px;
    font-size: 12px;
}
.container-info-user .user-info div p {
    line-height: 50px;
    margin: 0;
}
.container-line1 p {
    color: rgb(195, 149, 15, 0.9);
}
div button {
    margin: 0 auto;
    text-transform: uppercase;
    background-color: #000000;
    border-radius: 10px;
}
div button a {
    display: block;
    color: rgb(195, 149, 15, 0.9);
    text-decoration: none;
}
div button:hover {
    cursor: pointer;
    background-color: rgb(195, 149, 15, 0.9);
    color: #000000;
    box-shadow: 0px 0px 10px #000000;
}
div button:hover a {
    color: #000000;
}

/* MEDIA QUERIES */
@media (min-width: 769px) {
    .container-info-user .user-info {
        display: flex;
        padding: 10px 0;
    }
}
@media (min-width: 1200px) {
    div button {
        width: 25%;
    }
}