<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body class="container-main">
    <%- include('../partials/headerUser.ejs') %>
    <main class="main">
        <section class="form">
            <form action="">
                <h3>iniciar sesion</h3>
                <div>
                    <label for="email">Email</label>
                    <input class="input-edition" type="email" name="email" id="email" required>
                </div>
                <div>
                    <label for="password">Contrase単a</label>
                    <input class="input-edition" type="password" name="password" id="password" required>
                </div>
                <div class="ingresar">
                    <button type="submit">ingresar</button>
                </div>
                <div class="recuperar">
                    <a href="#">多Olvidaste tu Email o Contrase単a?</a>
                </div>
                <div class="crear">
                    <div>
                        <p>多No te registraste?</p>
                    </div>
                    <div>
                        <button type="button"><a href="/register">crear cuenta</a></button>
                    </div>
                </div>
            </form>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>