<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body class="container-main">
    <%- include('../partials/headerMain.ejs') %>
    <main class="main">
        <section class="container-products">
            <article class="product">
                <div class="image">
                    <img src="/img/productCar/procesador.jpg" alt="">
                </div>
                <div class="name">
                    <p>Procesador Intel Core i9 12900K 5.2GHz Turbo Socket 1700</p>
                </div>
                <div class="subtotal">
                    <div class="cantidad">
                        <button type="button">-</button>
                        <p>1</p>
                        <button type="button">+</button>
                    </div>
                    <div class="precio">
                        <p>$ 100.500</p>
                    </div>
                    <div class="delete">
                        <i class="fa-solid fa-trash-can" title="Eliminar"></i>
                    </div>
                </div>
            </article>
            <article class="product">
                <div class="image">
                    <img src="/img/productCar/motherboard.jpg" alt="">
                </div>
                <div class="name">
                    <p>Mother ASUS ROG MAXIMUS Z690 EXTREME GLACIAL</p>
                </div>
                <div class="subtotal">
                    <div class="cantidad">
                        <button type="button">-</button>
                        <p>1</p>
                        <button type="button">+</button>
                    </div>
                    <div class="precio">
                        <p>$ 290.000</p>
                    </div>
                    <div class="delete">
                        <i class="fa-solid fa-trash-can" title="Eliminar"></i>
                    </div>
                </div>
            </article>
            <article class="product">
                <div class="image">
                    <img src="/img/productCar/ram.jpg" alt="">
                </div>
                <div class="name">
                    <p>Memoria Patriot Viper DDR4 32GB 3000Mhz Steel</p>
                </div>
                <div class="subtotal">
                    <div class="cantidad">
                        <button type="button">-</button>
                        <p>1</p>
                        <button type="button">+</button>
                    </div>
                    <div class="precio">
                        <p>$ 20.500</p>
                    </div>
                    <div class="delete">
                        <i class="fa-solid fa-trash-can" title="Eliminar"></i>
                    </div>
                </div>
            </article>
            <article class="product">
                <div class="image">
                    <img src="/img/productCar/auricular.jpg" alt="">
                </div>
                <div class="name">
                    <p>Auriculares HP HyperX Cloud Flight Wireless Black-Red</p>
                </div>
                <div class="subtotal">
                    <div class="cantidad">
                        <button type="button">-</button>
                        <p>1</p>
                        <button type="button">+</button>
                    </div>
                    <div class="precio">
                        <p>$ 15.000</p>
                    </div>
                    <div class="delete">
                        <i class="fa-solid fa-trash-can" title="Eliminar"></i>
                    </div>
                </div>
            </article>
            <article class="product">
                <div class="image">
                    <img src="/img/productCar/monitor.jpg" alt="">
                </div>
                <div class="name">
                    <p>Monitor Gamer Gigabyte 27" G27Q-SA 144Hz 1Ms IPS 2K</p>
                </div>
                <div class="subtotal">
                    <div class="cantidad">
                        <button type="button">-</button>
                        <p>1</p>
                        <button type="button">+</button>
                    </div>
                    <div class="precio">
                        <p>$ 85.000</p>
                    </div>
                    <div class="delete">
                        <i class="fa-solid fa-trash-can" title="Eliminar"></i>
                    </div>
                </div>
            </article>
            <article class="product">
                <div class="image">
                    <img src="/img/productCar/gabinete.jpg" alt="">
                </div>
                <div class="name">
                    <p>Gabinete Cooler Master Mastercase H500P ARGB</p>
                </div>
                <div class="subtotal">
                    <div class="cantidad">
                        <button type="button">-</button>
                        <p>1</p>
                        <button type="button">+</button>
                    </div>
                    <div class="precio">
                        <p>$ 30.000</p>
                    </div>
                    <div class="delete">
                        <i class="fa-solid fa-trash-can" title="Eliminar"></i>
                    </div>
                </div>
            </article>
            <div class="container-total">
                <p class="total">total</p>
                <p class="cifra-total">$ 541.000</p>
                <div class="container-comprar">
                    <button type="submit">comprar</button>
                </div>
            </div>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>