<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {name, title}) %>
<body class="container-main">
    <%- include('../partials/headerUser.ejs') %>
    <main class="main">
        <section class="form">
            <form action="/users/register" method="POST" enctype="multipart/form-data">
                <h3>crear cuenta</h3>
                <div>
                    <label for="firstname">Nombre</label>
                    <input class="input-edition" type="text" name="firstname" id="firstname">
                </div>
                <div>
                    <label for="lastname">Apellido</label>
                    <input class="input-edition" type="text" name="lastname" id="lastname">
                </div>
                <div>
                    <label for="email">Email</label>
                    <input class="input-edition" type="email" name="email" id="email">
                </div>
                <div>
                    <label for="phone">Telefono</label>
                    <input class="input-edition" type="tel" name="phone" id="phone">
                </div>
                <div>
                    <label for="password">Contraseña</label>
                    <input class="input-edition" type="password" name="password" id="password">
                </div>
                <div>
                    <label for="avatar">Imagen</label>
                    <input type="file" name="avatar" id="avatar">
                </div>
                <div class="registrarte">
                    <button type="submit">registrarte</button>
                </div>
                <div class="login">
                    <div>
                        <p>¿Ya tenés cuenta?</p>
                    </div>
                    <div>
                        <button type="button"><a href="/users/login">ingresar</a></button>
                    </div>
                </div>
            </form>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>