<footer class="footer">
    <section class="container-about">
        <h3>acerca de nodegaming</h3>
        <a href="#">
            <p>¿quienes somos?</p>
        </a>
        <a href="#">
            <p>ubicacion</p>
        </a>
        <a href="#">
            <p>contacto</p>
        </a>
    </section>
    <section class="redes">
        <div>
            <div class="container-social-media">
                <div>
                    <a href="https://www.instagram.com/nodegaming_ok/" target="_blank"><i
                            class="fa-brands fa-instagram"></i></a>
                </div>
                <div>
                    <a href="https://www.facebook.com/profile.php?id=100081899085734" target="_blank"><i
                            class="fa-brands fa-facebook"></i></a>
                </div>
                <div>
                    <a href="https://twitter.com/NODEGAMING_OK" target="_blank"><i
                            class="fa-brands fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </section>
    <section class="derechos">
        <p>Copyright &copy; NODEGAMING</p>
    </section>
</footer>